<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC25CFBA1F914E400075E8F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC25CFD11F914E410075E8F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC25CFDC1F914E410075E8F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
